.wrapper {
    width: 100%;
    color: var(--black);
    text-align: center;
    padding-left: 2rem;
    padding-right: 2rem;
}

.title {
    margin-top: 5rem;
}

.underline {
    border-bottom: 2px solid var(--yellow);
}

.button {
    background: none;
    border: none;
    padding: 0;
    cursor: pointer;
    color: var(--black);
}

@media only screen and (min-width: 1024px) {
    .wrapper {
        padding-left: 6rem;
        padding-right: 6rem;
    }
}
