.wrapper {
    width: 100%;
    color: var(--black);
    text-align: center;
}

.tagline {
    color: var(--yellow);
    margin-bottom: 0;
    font-weight: bolder;
}

.buttonContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2rem;
}

.aboutme {
    margin-top: 4rem;
}

.underline {
    border-bottom: 2px solid var(--yellow);
}