html {
    box-sizing: border-box;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

html,
body {
    height: 100%;
}

body {
    margin: 0;
    padding: 0;
    font-family: "Roboto", sans-serif;
}

#root {
    height: 100%;
}

:root {
    font-family: "Roboto", sans-serif;
    line-height: 1.5;
    font-weight: 400;

    color-scheme: light dark;
    color: #25282b;
    background-color: #f9faff;

    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;

    /* Colours */
    --yellow: #fdc435;
    --light-yellow: #f7d37a;
    --black: #25282b;
    --grey: #7d7d7d;
    --light-grey: #d1d1d1;
    --white: #ffffff;
    --off-white: #f9faff;

    /* Typography */
    --h1-desktop: 56px/64px "Comfortaa", "Roboto", sans-serif;
    --h1-tablet: 40px/48px "Comfortaa", "Roboto", sans-serif;
    --h1-mobile: 32px/40px "Comfortaa", "Roboto", sans-serif;

    --h2-desktop: 32px/40px "Comfortaa", "Roboto", sans-serif;
    --h2-tablet: 32px/40px "Comfortaa", "Roboto", sans-serif;
    --h2-mobile: 32px/40px "Comfortaa", "Roboto", sans-serif;

    --h3-desktop: 24px/36px "Comfortaa", "Roboto", sans-serif;
    --h3-tablet: 24px/36px "Comfortaa", "Roboto", sans-serif;
    --h3-mobile: 20px/24px "Comfortaa", "Roboto", sans-serif;

    --h4-desktop: 20px/28px "Comfortaa", "Roboto", sans-serif;
    --h4-tablet: 20px/28px "Comfortaa", "Roboto", sans-serif;
    --h4-mobile: 16px/24px "Comfortaa", "Roboto", sans-serif;

    --h5-desktop: 18px/24px "Comfortaa", "Roboto", sans-serif;
    --h5-tablet: 18px/24px "Comfortaa", "Roboto", sans-serif;
    --h5-mobile: 14px/20px "Comfortaa", "Roboto", sans-serif;

    --h6-desktop: 16px/20px "Comfortaa", "Roboto", sans-serif;
    --h6-tablet: 16px/20px "Comfortaa", "Roboto", sans-serif;
    --h6-mobile: 12px/18px "Comfortaa", "Roboto", sans-serif;

    --p-desktop: 16px/24px "Comfortaa", "Roboto", sans-serif;
    --p-tablet: 16px/24px "Comfortaa", "Roboto", sans-serif;
    --p-mobile: 14px/20px "Comfortaa", "Roboto", sans-serif;
}

/* Mobile Typography */
h1 {
    font: var(--h1-mobile);
}

h2 {
    font: var(--h2-mobile);
}

h3 {
    font: var(--h3-mobile);
}

h4 {
    font: var(--h4-mobile);
}

h5 {
    font: var(--h5-mobile);
}

h6 {
    font: var(--h6-mobile);
}

p {
    font: var(--p-mobile);
}

/* Tablet Typography */
@media only screen and (min-width: 768px) {
    h1 {
        font: var(--h1-tablet);
    }

    h2 {
        font: var(--h2-tablet);
    }

    h3 {
        font: var(--h3-tablet);
    }

    h4 {
        font: var(--h4-tablet);
    }

    h5 {
        font: var(--h5-tablet);
    }

    h6 {
        font: var(--h6-tablet);
    }

    p {
        font: var(--p-tablet);
    }
}

/* Desktop Typography */
@media only screen and (min-width: 1024px) {
    h1 {
        font: var(--h1-desktop);
    }

    h2 {
        font: var(--h2-desktop);
    }

    h3 {
        font: var(--h3-desktop);
    }

    h4 {
        font: var(--h4-desktop);
    }

    h5 {
        font: var(--h5-desktop);
    }

    h6 {
        font: var(--h6-desktop);
    }

    p {
        font: var(--p-desktop);
    }
}

@media (prefers-color-scheme: light) {
    :root {
        color: #213547;
        background-color: #ffffff;
    }
    a:hover {
        color: #747bff;
    }
    button {
        background-color: #f9f9f9;
    }
}
