.button {
    font: var(--p-mobile);
    background-color: var(--white);
    color: black;
    padding: 8px 15px;
    border: 1px solid var(--black);
    border-radius: 5px;
    box-shadow: 2px 2px 2px var(--grey);
}

.button:hover {
    cursor: pointer;
    background-color: var(--off-white);
}
