.wrapper {
    width: 80%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 1rem;
}

.navMenu {
    display: flex;
    list-style: none;
    padding: 0;
    gap: 5rem;
    align-items: center;
}

.navMenu a {
    color: var(--black);
    text-decoration: none;
    border-bottom: 3px solid transparent;
    transition: border-bottom-color 1s ease;
}

.navMenu a:hover,
.navMenu a.activeLink:hover {
    color: var(--black);
    text-decoration: none;
    border-bottom: 3px solid var(--grey);
}

.navMenu a.activeLink {
    border-bottom: 3px solid var(--yellow);
    transition: border-bottom-color 1s ease;
}

.hamburger {
    display: none;
}

.activeLink,
.inactiveLink {
    text-decoration: none;
}

.activeLink {
    color: var(--text);
}

.inactiveLink {
    color: rgb(163, 161, 161);
}

.inactiveLink:hover {
    color: rgb(196, 195, 195);
}

/* Hide hamburger menu on mobile */
@media (max-width: 800px) {
    .wrapper {
        justify-content: space-between;
    }

    .navMenu {
        display: flex;
        flex-direction: column;
        align-items: center;
        position: fixed;
        top: 10%;
        right: 0;
        height: 90%;
        width: 30%;
        background-color: #ffffff;
        box-shadow: 3px 3px 20px var(--light-grey);
        gap: 1.5rem;
        padding-top: 1rem;
        border: 1px solid rgba(211, 211, 211, 0.178);
        border-radius: 20px;
        transform: translateX(100%); /* Start off-screen to the right */
        transition: transform 0.3s ease-in-out, visibility 0s 0.3s;
    }

    .navMenu {
        text-decoration: none;
    }

    .navMenu a {
        color: var(--black);
        text-decoration: none;
        line-height: 2rem;
    }

    .navMenu a:hover {
        text-decoration: none;
        line-height: 2rem;
    }

    .active {
        left: 70%;
        transform: translateX(0); /* Slide back into view */
    }

    .navMenu:not(.active) {
        transform: translateX(100%); /* Slide off-screen to the right */
    }

    .hamburger {
        display: block;
    }
}
